#codemirror_frame {
  margin: 5px;
  width: 100%; 
  height: calc(100vh - 260px);
}

div.CodeMirror {
  width: calc(100vw - 30px);
  height: 100%;
}

#content_blocks {
  width: 100%;
  height: calc(100vh - 260px);
}

xml {
  display: none;
}