{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 2 %}
{% set tab1title = _('Blocks') %}
{% set tab2title = _('Python') %}

{% set start_tab = 1 %}

{% block pluginscripts %}
  {% include "blockly_head_scripts.html" %}
{% endblock pluginscripts %}

{% block headtable %}

{% endblock headtable %}

{% block buttons %}
  {% include "logics_blockly_toolbox.xml" %}
  <button onclick="ShngBlockly_UI.actionNew()" class="btn btn-shng btn-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;{{ _('Neu') }}&nbsp;</button>
  <button onclick="ShngBlockly_UI.actionSave()" class="btn btn-shng btn-sm"><i class="fas fa-save"></i>&nbsp;&nbsp;&nbsp;{{ _('Speichern') }}&nbsp;</button>
  <button onclick="ShngBlockly_UI.actionLoad()" class="btn btn-shng btn-sm"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;&nbsp;{{ _('Laden') }}&nbsp;</button>
{% endblock %}

{% block bodytab1 %}
<div style="margin: 5px;">
  <div id="content_blocks"></div>
</div>
{% endblock %}

{% block bodytab2 %}
<div id="codemirror_frame">
  <textarea id="content_python"></textarea>
</div>
{% endblock %}


{% block content %}
  {{ super() }}
  <!-- The Modal -->
  <div class="modal" id="loadLogicDialog">
    <div class="modal-dialog">
      <div class="modal-content">      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ _('Laden') }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <div id="logicList">
          </div>
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">{{ _('Abbrechen') }}</button>
        </div>        
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal" id="dialogOK">
    <div class="modal-dialog">
      <div class="modal-content">      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <div></div>
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">{{ _('OK') }}</button>
        </div>        
      </div>
    </div>
  </div>

  <!-- The Modal -->
<div class="modal" id="dialogOKCancel">
    <div class="modal-dialog">
      <div class="modal-content">      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close">&times;</button>
        </div>        
        <!-- Modal body -->
        <div class="modal-body">
          <div></div>
        </div>        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn OK">{{ _('OK') }}</button>
          <button type="button" class="btn btn-danger Cancel">{{ _('Abbrechen') }}</button>
        </div>        
      </div>
    </div>
  </div>
{% endblock %}