{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 2 %}
{% set tab1title = _('Blocks') %}
{% set tab2title = _('Python') %}

{% set start_tab = 1 %}

{% block pluginscripts %}
  {% include "blockly_head_scripts.html" %}
{% endblock pluginscripts %}

{% block headtable %}
{% endblock headtable %}

{% block buttons %}
  {% include "logics_blockly_toolbox.html" %}
  <button onclick="ShngBlockly_Engine.saveBlocks()" class="btn btn-shng btn-sm">{{ _('Logik speichern') }}</button>
  <button onclick="ShngBlockly_Engine.loadBlocks()" class="btn btn-shng btn-sm">{{ _('Änderungen verwerfen') }}</button>
  <button onclick="ShngBlockly_Engine.discardBlocks()" class="btn btn-shng btn-sm">{{ _('Leeren') }}</button>
  <button onclick="ShngBlockly_Engine.stop()" class="btn btn-shng btn-sm">{{ _('Schließen') }}</button>
{% endblock %}

{% block bodytab1 %}
<div style="margin: 5px;">
  <div id="content_blocks"></div>
</div>
{% endblock %}

{% block bodytab2 %}
<div id="codemirror_frame">
  <textarea id="content_python"></textarea>
</div>
{% endblock %}
