{#  BLOCKLY Script Editor #}
<link rel="stylesheet" href="static/blockly/style.css">
<script type="text/javascript" src="static/blockly/blockly_compressed.js"></script>
<script type="text/javascript" src="static/blockly/blocks_compressed.js"></script>
<script type="text/javascript" src="static/blockly/python_compressed.js"></script>
<script type="text/javascript" src="static/blockly/de.js"></script>
<script type="text/javascript" src="static/blockly/en.js"></script>
{#   SHNG to Blockly Integration #}
<script type="text/javascript" src="static/shblocks/sh_items.js"></script>
<script type="text/javascript" src="static/shblocks/sh_logics.js"></script>
<script type="text/javascript" src="static/shblocks/sh_logic.js"></script>
<script type="text/javascript" src="static/shblocks/sh_notify.js"></script>
<script type="text/javascript" src="static/shblocks/sh_tools.js"></script>
<script type="text/javascript" src="static/shblocks/sh_time.js"></script>
{#   Web UI #}
<link rel="stylesheet" href="static/shng_blockly.css">
<script type="text/javascript" src="static/shng_blockly.js"></script>
