{% extends "old_base.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 2 %}
{% set tab1title = _('Blocks') %}
{% set tab2title = _('Python') %}

{% set start_tab = 2 %}

{% block pluginscripts %}
  {% include "blockly_head_scripts.html" %}
{% endblock pluginscripts %}

{% block headtable %}
{% endblock headtable %}

{% block buttons %}
  {% include "logics_blockly_toolbox.html" %}
  <button onclick="ShngBlockly_Engine.saveBlocks()" class="btn btn-default btn-xs">{{ _('Logik speichern') }}</button>
  <button onclick="ShngBlockly_Engine.loadBlocks()" class="btn btn-default btn-xs">{{ _('Änderungen verwerfen') }}</button>
  <button onclick="ShngBlockly_Engine.discardBlocks()" class="btn btn-default btn-xs">{{ _('Leeren') }}</button>
  <button onclick="ShngBlockly_Engine.stop()" class="btn btn-default btn-xs">{{ _('Schließen') }}</button>
{% endblock %}

{% block bodytab1 %}
  <div id="content_blocks" class="content"></div>
{% endblock %}

{% block bodytab2 %}
  <pre id="content_python" class="content"></pre>
{% endblock %}
