{% extends "base_plugin.html" %}

{% set logo_frame = false %}
{% set use_bodytabs = true %}
{% set tabcount = 2 %}
{% set tab1title = _('Blocks') %}
{% set tab2title = _('Python') %}

{% set start_tab = 1 %}

{% block pluginscripts %}
<link rel="stylesheet" href="static/blockly/style.css">
<script type="text/javascript" src="static/blockly/blockly_compressed.js"></script>
<script type="text/javascript" src="static/blockly/blocks_compressed.js"></script>
<script type="text/javascript" src="static/blockly/python_compressed.js"></script>
<script type="text/javascript" src="static/blockly/{{ _('LANGUAGE_LOCALE') }}.js"></script>
{# to support multi-language capabilities, these values are pre-set here, and then applied within the following JavaScript files #}
<script>
    var ShngBlockly_Constants = {};    
    ShngBlockly_Constants.DefaultLogicTemplate = "<template>new";
    ShngBlockly_Constants.ApiEndpointLoadLogic = "blockly_load_logic";
    ShngBlockly_Constants.ApiEndpointSaveLogic = "blockly_save_logic";
    ShngBlockly_Constants.ApiEndpointGetLogics = "blockly_get_logics";
    ShngBlockly_Constants.ApiEndpointLoadToolbox = "toolbox_json";
    ShngBlockly_Constants.DialogMessageCannotLoad = "{{ _('Cannot load: ') }}";
    ShngBlockly_Constants.DialogMessageSuccessfullySaved = "{{ _('Successfully saved') }}";
    ShngBlockly_Constants.DialogMessageAreYouSure = "{{ _('Bist Du sicher?') }}";
    ShngBlockly_Constants.DialogMessageUnsavedChanges = "{{ _('Änderungen verwerfen?') }}";
    ShngBlockly_Constants.DialogMessageLoadLogicHead = "{{ _('Welche Logik soll geladen werden?') }}";
    ShngBlockly_Constants.TabHeaderPythonEditor = "{{ _('Python') }}";
    ShngBlockly_Constants.OKText = "{{ _('OK') }}";
    ShngBlockly_Constants.CancelText = "{{ _('Abbrechen') }}";
</script>
{#   SHNG to Blockly Integration #}
<script type="text/javascript" src="static/shblocks/sh_items.js"></script>
<script type="text/javascript" src="static/shblocks/sh_logics.js"></script>
<script type="text/javascript" src="static/shblocks/sh_tools.js"></script>
<script type="text/javascript" src="static/shblocks/sh_time.js"></script>
<script type="text/javascript" src="static/shblocks/shng_plugin_function.js"></script>
{#   Web UI #}
<link rel="stylesheet" href="static/shng_blockly.css">
<script type="text/javascript" src="static/shng_blockly.js"></script>
{% endblock pluginscripts %}

{% block headtable %}{% endblock headtable %}

{% block buttons %}
  <button onclick="ShngBlockly_UI.actionNew()" class="btn btn-shng btn-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp;&nbsp;{{ _('Neu') }}&nbsp;</button>
  <button onclick="ShngBlockly_UI.actionSave()" class="btn btn-shng btn-sm"><i class="fas fa-save"></i>&nbsp;&nbsp;&nbsp;{{ _('Speichern') }}&nbsp;</button>
  <button onclick="ShngBlockly_UI.actionLoad()" class="btn btn-shng btn-sm"><i class="fas fa-folder-open"></i>&nbsp;&nbsp;&nbsp;{{ _('Laden') }}&nbsp;</button>
{% endblock %}

{% block bodytab1 %}
<div style="margin: 5px;">
  <div id="content_blocks"></div>
</div>
{% endblock %}

{% block bodytab2 %}
<div id="codemirror_frame">
  <textarea id="content_python"></textarea>
</div>
{% endblock %}
